<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/logout.ejs") %>

  <div class="not-found content">
    <h1>404..........OOPS, page not found :)</h1>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>