<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/logout.ejs") %>

  <div class="create-blog content">
    <form action="/blogs" method="post">
      <label for="title">Product title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Product Price:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Product Description:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>
  <pre><%= JSON.stringify(data, null, 2) %></pre>
  <%- include("./partials/footer.ejs") %>
</body>
</html>